html {
  background-color: white; }

.container {
  margin: 0px;
  padding: 0px; }

#logo {
  color: #39faf2;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-shadow: 0px 2px 8px black;
  cursor: pointer;
  cursor: hand; }
  @media screen and (max-device-width: 500px) {
    #logo {
      font-size: 300px;
      text-align: center;
      color: white; } }

p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: justify; }

.row {
  min-height: 750px;
  padding: 0px 45px 15px 45px;
  margin: 0px 10px 10px 10px;
  line-height: 2; }

#info {
  background: url("../img/info.jpg") center center fixed no-repeat;
  background-size: cover; }
  #info p {
    font-family: 'Cabin Sketch', cursive;
    float: left;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-top: 30px;
    width: 40%;
    max-width: 500px;
    min-width: 350px;
    float: left;
    text-shadow: 0px 2px 7px black; }
  @media screen and (max-device-width: 500px) {
    #info {
      min-height: 700px; }
      #info p {
        margin-right: auto;
        margin-left: auto;
        max-width: none;
        font-size: 50px;
        float: none;
        min-width: 800px; } }

#mockups {
  background-color: white; }
  #mockups h2 {
    color: black;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px; }
  #mockups img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 900px;
    height: auto;
    text-align: center; }
  #mockups p {
    color: grey;
    text-align: center;
    margin-bottom: 50px; }

#features {
  margin-bottom: 40px; }
  #features img {
    margin-bottom: 40px; }
  #features h3 {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: grey;
    font-weight: 300; }
  #features .feature p {
    color: grey;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5; }

#education {
  background: url("../img/education.jpg") center center fixed no-repeat;
  background-size: cover; }
  #education p {
    font-family: 'Cabin Sketch', cursive;
    float: right;
    width: 100%;
    margin-bottom: 40px;
    margin-right: 50px;
    margin-top: 30px;
    width: 40%;
    max-width: 500px;
    min-width: 350px;
    float: right;
    text-shadow: 0px 4px 7px black; }
  @media screen and (max-device-width: 500px) {
    #education {
      min-height: 700px; }
      #education p {
        margin-right: auto;
        margin-left: auto;
        max-width: none;
        font-size: 50px;
        float: none;
        min-width: 800px; } }

#safety {
  font-family: 'Cabin Sketch', cursive;
  background-color: white;
  color: grey;
  margin-bottom: 40px; }
  #safety h2 {
    color: black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px; }
  #safety h3 {
    text-align: center;
    color: grey;
    font-weight: 300; }
  #safety p {
    color: grey;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5; }
  #safety img {
    display: block;
    max-width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    text-align: center; }

#beta {
  background: url("../img/safety.jpg") center center fixed no-repeat;
  background-size: cover;
  margin-bottom: 0px; }
  @media screen and (max-device-width: 500px) {
    #beta #space {
      min-height: 1500px; } }

#login {
  margin-top: 200px;
  font-family: 'Cabin Sketch', cursive;
  float: right;
  font-size: 50px;
  color: white; }
  @media screen and (max-device-width: 500px) {
    #login {
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center; }
      #login p {
        font-size: 100px; } }

#signup {
  color: lightblue;
  cursor: pointer;
  cursor: hand;
  text-shadow: 0px 4px 7px black; }

/*# sourceMappingURL=style.css.map */
